* 
{
  margin: 0;
  padding: 0;
}

@font-face 
{
    font-family: "Square721";
    src: url("assets/fonts/square721.woff2") format("woff2");
}
@font-face 
{
    font-family: "Mina";
    src: url("assets/fonts/Mina.woff2") format("woff2");
}
a { text-decoration: none; }
/* div {
  outline: 1px solid red;
} */
body 
{
  height: 100%;
  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center; 
}
.container
{
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: var(--max-webpage-width);
  overflow-x: hidden;
  overflow-y: hidden;

  display: flex;
  align-items: center;
  justify-content: center; 
}
.logo
{
  position: absolute;
  top: 25px;
  left: 35px;
  height: 65px;
  filter: invert(37%) sepia(9%) saturate(0%) hue-rotate(164deg) brightness(93%) contrast(90%);
}
.background
{
    position: absolute;
  height: 100%;
  width: 100%;
  background: var(--background-color-dark);

  z-index: -50;

  filter: blur(1.5px);

  display: grid;
  gap: 3px;
  grid-template-columns: repeat(auto-fill, 13px);
  grid-template-rows: repeat(auto-fill, 13px);
  /* display: flex;
  align-items: center;
  justify-content: center;  */
}
.background-cell
{
  position: relative;
  height: 100%;
  width: 100%;
  background: var(--background-color-light);
}
.overlay
{
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--overlay-color);
  mix-blend-mode: var(--overlay-blend-mode);
  pointer-events: none;
}
/* ==== В Р А П П Е Р Ы = Б Л Ю Р А ===== */

.blend-wrapper-normal
{
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("assets/BG-normal.jpg");
  background-size: cover; 

  display: flex;
  align-items: center;
  justify-content: center; 
}
.blend-wrapper-blur
{
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("assets/Nier.png"); 
  background-size: cover; 

  z-index: -50;

  display: flex;
  align-items: center;
  justify-content: center; 
}

/* ===== О К Р А Ш И В А Т Е Л И = Д Л Я = Б Л Ю Р А ===== */

.MP-sides-white > div > div > div 
{
  background: white;
}
.MP-sides-black > div > div > div
{
  background: black;
}