.ELC-wrapper-OG
{
    --ELC-length: 300px;
    --ELC-border-radius: 20px;
    --ELC-height: 20px;
    --ELC-sphericity: 0px;
    --ELC-width: calc((var(--ELC-length) / 0.707) - var(--ELC-sphericity) - (var(--ELC-border-radius) * 0.83));
    --ELC-glass-color: white;
    --ELC-glov-color: coral;

    position: relative;
    height: 120px;
    width: 400px;

    display: flex;
    align-items: center;
    justify-content: center; 

    transform-style: preserve-3d;
    
    z-index: var(--z);
}
.ELC-wrapper-0
{
    --ELC-length: var(--ELC-length-global);
    --ELC-border-radius: var(--ELC-border-radius-global);
    --ELC-height: var(--ELC-height-global);
    --ELC-sphericity: 0px;
    --ELC-width: calc((var(--ELC-length) / 0.707) - var(--ELC-sphericity) - (var(--ELC-border-radius) * 0.83));

    --ELC-glass-color: var(--ELC-glass-color1);
    --ELC-glov-color: var(--ELC-glov-color2);

    --ELC-top-shadow-NW: var(--ELC-shadow-NW-indent);
    --ELC-top-shadow-SE: var(--ELC-shadow-SE-indent);
    --ELC-top-shadow-NE: var(--ELC-shadow-NE-indent);
    --ELC-top-shadow-SW: var(--ELC-shadow-SW-indent);

    height: 100%;
    width: 0;
}
.ELC-wrapper-1
{
    --ELC-length: var(--ELC-length-global);
    --ELC-border-radius: var(--ELC-border-radius-global);
    --ELC-height: var(--ELC-height-global);
    --ELC-sphericity: 0px;
    --ELC-width: calc((var(--ELC-length) / 0.707) - var(--ELC-sphericity) - (var(--ELC-border-radius) * 0.83));

    --ELC-glass-color: var(--ELC-glass-color1);
    --ELC-glov-color: var(--ELC-glov-color2);

    --ELC-top-shadow-NW: var(--ELC-shadow-NW-indent);
    --ELC-top-shadow-SE: var(--ELC-shadow-SE-indent);
    --ELC-top-shadow-NE: var(--ELC-shadow-NE-indent);
    --ELC-top-shadow-SW: var(--ELC-shadow-SW-indent);

    height: 100%;
    width: 0;
}
.ELC-wrapper-next
{
    --ELC-length: calc(var(--ELC-length-global) - var(--s) * var(--ELC-length-step-global));
    --ELC-border-radius: calc(var(--ELC-border-radius-global) - var(--s) * var(--ELC-border-radius-step-global));
    --ELC-height: calc(var(--ELC-height-global) + var(--s) * var(--ELC-height-step-global));
    --ELC-sphericity: 0px;
    --ELC-width: calc((var(--ELC-length) / 0.707) - var(--ELC-sphericity) - (var(--ELC-border-radius) * 0.83));

    --ELC-glass-color: var(--ELC-glass-color2);
    --ELC-glov-color: var(--ELC-glov-color1);

    --ELC-top-shadow-NW: var(--ELC-shadow-NW-indent);
    --ELC-top-shadow-SE: var(--ELC-shadow-SE-indent);
    --ELC-top-shadow-NE: var(--ELC-shadow-NE-indent);
    --ELC-top-shadow-SW: var(--ELC-shadow-SW-indent);

    height: 100%;
    width: 0;
}

/* ===== S T A T E S ===== */

/* === a b o u t === */
.ELC-wrapper-core
{
    /* filter: blur(5px); */
    background: var(--ELC-glov-color1);

    --ELC-length-global: 250px;
    --ELC-border-radius-global: 125px;
    --ELC-height-global: 0px;

    --ELC-top-shadow-NW: 200px;
    --ELC-top-shadow-SE: 200px;
    --ELC-top-shadow-NE: 200px;
    --ELC-top-shadow-SW: 200px;
}
.ELC-wrapper-core > div > .ELC-top
{
    height: 1000px;
    width: 1000px;
    border-radius: 500px;
    background: none;
    box-shadow: inset 0 0 0 1px var(--lines-color);

    transform: translateY(-50%) rotateX(60deg) rotateZ(45deg) rotateY(0deg);
}
.ELC-wrapper-core > div > .ELC-side
{
    opacity: 0;
}
.ELC-wrapper-core > div > .ELC-bottom
{
    opacity: 0;
}
.ELC-wrapper-core > div > .ELC-top > .ELC-lightning-top
{
    opacity: 0;
}

/* === p r o j e c t s ===  */

.ELC-wrapper-part-selected
{
    --ELC-length-global: 60px;
    --ELC-border-radius-global: 0px;
    --ELC-height-global: 42px;
    background: var(--ELC-glov-color1);
}
.ELC-wrapper-part-other
{
    --ELC-glass-color: var(--ELC-glass-color1);
    --ELC-glov-color: var(--ELC-glov-color2);
}

/* === l i n k s ===  */

.ELC-wrapper-link
{
    --ELC-length-global: 50px;
    --ELC-border-radius-global: 25px;
    --ELC-height-global: 50px;
    --ELC-offset-height-global: 80px;
}