
:root
{
/* ========== A = N = I = M = A = T = I = O = N = S ========== */

  /* ===== C S S ===== */

  /* === ELC === */

  --ELC-pillar-speed: 2s;
  --ELC-offset-speed: 1.5s;
  --ELC-container-speed: 1.5s; 
  --ELC-container-hover-speed: 1.5s;
  --ELC-container-sub-speed: 1.5s;
  --ELC-margins-speed: 1.5s;

  /* === ST === */

  --ST-textlink-container-speed: 1.5s; /* Появление блоков надписей */
  --ST-speed: 0.3s; 
  --ST-active-speed: 0.3s;
  --ST-frame-box-speed: 1.5s;

  /* === Intro === */

  --intro-main-text-speed: 1.5s;
  --intro-main-text-hidden-speed: 1.5s;

  /* === Logo === */

  --logo-pressing-speed: 0.3s;
  --logo-V-speed: 0.5s;
  --logo-N-speed: 0.33s;

  /* === Top bar === */

  --top-bar-wrapper-speed: 1s;
  --top-bar-wrapper-hidden-speed: 1s;
  --top-bar-item-speed: 0.3s;
  --top-bar-item-activate-speed: 0.3s;

  /* === Menus === */

  --menus-hidden-item-speed: 1s; /* Неизвестно */
  --menus-container-speed: 0s; /* Неизвестно */
  --menus-container-sub: 1s;
  /* --close-button-speed: 1s;
  --close-button-active-speed: 0.3s;
  --close-button-frame-speed: 1s;
  --close-button-container-hover-sub-speed: 0.3s; */

  /* === Projects === */

  --project-cell-button-speed: 0.3s;
  --project-cell-hover-speed: 0.5s; /* Неизвестно */

  /* === Links === */

  --links-cell-speed: 0.3s; /* Скорость отжатия | 1s */
  --links-cell-active-speed: 0.3s; /* Скорость нажатия */
  --links-cell-grid-hover-speed: 0.3s; /* Скорость появления света | 1s */
  --links-cell-back-speed: 0.5s; /* Скорость исчезновения задней подсветки и блюра | 2s */
  --links-cell-back-flare-container-speed: 0.5s; /* Скорость исчезновения флэра | 2s */
  --links-waves-rotation-speed: 120s;

  /* ===== J S ===== */

  /* === init === */

  --changeLogo-setTimeout: 2500;
  --removeLimiter-setTimeout: 2500;

  /* === reshapeWaves === */

  --reshapeWaves-expand-setTimeout: 100;
  --reshapeWaves-colapse-setTimeout: 100;

  /* === menu === */

  --menu-show-setTimeout: 200;
  --menu-hide-setTimeout: 0;

  /* === changeTopBar === */

  --changeTopBar-from-menu-setTimeout: 3000;

  /* === switchItems === */

  --switchItems-show-setTimeout: 100;
  --switchItems-hide-setTimeout: 100;

  /* === stateMachine - initial === */

  --stateMachine-ELC-appear-delay: 50;
  --stateMachine-initial-menu-setTimeout: 1600;

  /* === stateMachine - main menu === */

  --stateMachine-applyMenuVariables-setTimeout: 0;
  --stateMachine-mainmenu-deactivateMenu-setTimeout: 1000;
  --stateMachine-showmenu-setTimeout: 2000;
  --stateMachine-switchItems-show-setTimeout: 1000;
  --stateMachine-about-reshapeSphere-setTimeout: 3500;
  --stateMachine-changeLogoToCross-setTimeout: 3000;
  --stateMachine-changeLogoToNV-setTimeout: 3000;



}