:root
{
  /* ===== S I Z E S ===== */

  --max-webpage-width: 1920px;
  --max-menus-width: 1280px;

  --min-webpage-width: 480px;

  /* ===== P I L L A R ===== */

    --ELC-length-global: 200px;
    --ELC-border-radius-global: 35px;
    --ELC-height-global: 13px;
    --ELC-margins-global: 20px;

    --ELC-offset-height-global: 55px;
    --ELC-offset-step-global: 2px;
    --ELC-offset-width-global: 66%;

    --ELC-length-step-global: 6px;
    --ELC-border-radius-step-global: 1px;
    --ELC-height-step-global: 2px;

    --ELC-transformY-global: 20vh;
    --ELC-transformY-global-for-content: 0vh;

    --ELC-shadow-NW-indent: 0px;
    --ELC-shadow-SE-indent: 20px;
    --ELC-shadow-NE-indent: 0px;
    --ELC-shadow-SW-indent: 45px;

    /* === Initial === */

    --ELC-length-global: 0px;
    --ELC-border-radius-global: 0px;
    --ELC-height-global: 0px;

  /* ===== I N T R 0 ===== */

  --intro-main-text-size: 140px;
  --intro-main-text-lower-limit: 60px;
  --intro-main-text-upper-limit: 200px;
  --intro-secondary-text-size: 50px;

    /* ===== P R O J E C T S ===== */

    --between-description-margin: 10px;
    --width-unit: 250px;
    --logo-size: 350px;
    --circle-size: 650px;
    --logo-size-half: calc(var(--logo-size)/2);
    --circle-size-half: calc(var(--circle-size)/2);

    /* ===== L I N K S ===== */

    --links-cell-height: 120px;
  --links-cell-width: 160px;
  --lenks-cell-logo-size: 77px;
  --links-cell-border-radius: 20px;
  --links-cell-gap: 30px;

    /* ===== M E N U S ===== */

    --frame-margin: 35px;
    --frame-padding: 35px;
    --close-button-size: 45px;
    --font-size: 17px;

    /* ===== L O G O ===== */

    --logo-thikness: 5px;
    --logo-longness-N: 30px;
    --logo-longness-V: calc(var(--logo-longness-N)*1.15);
    --logo-latters-space: calc(var(--logo-longness-N)*0.65);
    --logo-border-radius: 3px;
    --logo-color: white;

    --cross-thikness: 4px;
    --cross-longness: 50px;
    --cross-longness-half-hypotenuse: calc(var(--cross-longness)/2 - var(--cross-thikness));
    --cross-longness-half-leg: calc(var(--cross-longness-half-hypotenuse)*0.71);

  /* ========== S = C = R = A = P = S ========== */

    --main-pillar-size: 130px;
    --main-pillar-size-half: calc(var(--main-pillar-size)/2);
    --main-pillar-anim-time: 2s;
    --main-pillar-color: white;

    --main-pillar-segments-amount: 25;
    --main-pillar-segments-amount-half: calc(var(--main-pillar-segments-amount)/2);
    --main-pillar-segments-amount-twice: calc(var(--main-pillar-segments-amount)*1.5);
    --main-pillar-segments-margin: calc(100vh / var(--main-pillar-segments-amount-twice)); /* 85px */
    --main-pillar-segments-split: 70px;

    --total-delay-time: calc(0.05s * var(--main-pillar-segments-amount));

    --rounded-size: 100px;
    --rounded-boreder-radius: 14px;
}