/* ===== Т Е К С Т О В О Е = П О Л Е ===== */
.about-frame-container
{
    position: relative;
    height: fit-content;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center; 
}
.about-spaces
{
    position: relative;
    height: 200px;
    width: 100%;
}
.about-frame-corners
{
    position: absolute;
    height: 75px;
    width: 75px;
    border-radius: 25px;
    transform-origin: left top;
    box-shadow: inset 0 0 0 3px var(--lines-color);
    mask-image: radial-gradient(circle at top left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 55%);
    -webkit-mask-image: radial-gradient(circle at top left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 55%);
}
.about-text-container
{
    position: relative;
    height: fit-content;
    width: 100%;
    max-width: 600px;
    margin-left: var(--frame-padding);
    margin-right: var(--frame-padding);

    /* overflow-x: hidden; 
	overflow-y: scroll; */
    scrollbar-width: none;
    /* scrollbar-width: thin; */
	scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0);

    /* -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 0) 0px, black var(--frame-margin), black calc(100% - var(--frame-margin)), rgba(0, 0, 0, 0) 100%); */
}
.about-text-container::-webkit-scrollbar {
    display: none;
}
.about-text
{
    position: relative;
    font-family: "Mina";
    font-size: var(--font-size);
    /* line-height: 100%; */
    color: var(--about-text-color); /* DAD7C8 65645c */
    /* letter-spacing: 5px; */
}
.about-text-empty
{
    position: relative;
    height: var(--frame-padding);
    width: 100%;
}

/* ===== С В Е Т ===== */
.about-glow-container
{
    position: absolute;
    right: 0;
    transform: scaleX(1);
    transform-origin: center;

    transition: all var(--about-glow-container-speed);
}
.about-glow-container-hidden
{
    transform: scaleX(0);
    opacity: 0;
}
.about-core-glow
{
    position: absolute;
    right: 0;
    height: var(--temp-ELC-size);
    width: var(--temp-ELC-size);
    margin-top: calc(0px - var(--temp-ELC-size)/3);
    margin-right: calc(0px - var(--temp-ELC-size)/2);
    border-radius: 20%;

    filter: blur(15px);

    background: var(--ELC-glov-color1);

    transform: 
    translateY(calc(0px - var(--temp-ELC-size)/2*var(--temp-ELC-height-scale) * (1 + var(--temp-ELC-height-scale-step) * var(--s)))) 
    rotateX(60deg) 
    rotate(45deg) 
    scale(4);
}
.about-core-flare 
{
    position: absolute;
    right: 0;
  height: 50px;
  transform: translateX(50%) translateY(-50%);
  background: radial-gradient(closest-side ellipse at 50% center,
      var(--ELC-glov-inner-color) 0%,
      var(--ELC-glov-color1) 30%,
      transparent 95%);
  width: calc(var(--temp-ELC-size)*15);

  filter: blur(15px);
  /* filter: blur(5px); */
}